html body {
  background-color: #000;
}

.float {
  float: left;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.shadow {
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  padding: 0;
}
